<md-button layout="row" layout-align="center center" style="position: fixed;" aria-label="Add a new postit" class="md-primary md-fab md-fab-bottom-right" ui-sref="transports.add">
   <i class="material-icons">add</i>
   <md-tooltip md-direction="top">
      Add a transport
   </md-tooltip>
</md-button>

<md-toolbar layout="row" class="md-hue-3">
   <div class="md-toolbar-tools">
      <h1>List of Transports</h1>
   </div>
</md-toolbar>

<md-content layout-margin layout-padding>
   <div layout-xs="column" layout="row" layout-align="space-between start">
      <div layout="row" layout-align="start end">
         <!--<md-button ng-hide="{{transport.archived}}" class="md-raised md-primary" ui-sref="transports.add">-->
         <!--   New-->
         <!--</md-button>-->
         <md-button layout="row" class=" md-accent" ng-click="TransportCtrl.query()">
            <md-tooltip md-direction="top">
               Refresh the list
            </md-tooltip>
            <i class="material-icons">cached</i>
            &nbsp; Refresh
         </md-button>
         <md-button layout="row" class=" md-accent" ng-click="TransportCtrl.reset()">
            <md-tooltip md-direction="top">
               Reset the database to default
            </md-tooltip>
            <i class="material-icons">settings_backup_restore</i>
            &nbsp; Reset
         </md-button>
      </div>
      <div flex-xs="100" flex="40">
         <md-input-container class="md-block" flex='80'>
            <label>Search</label>
            <input name="start.name" ng-model="search">
         </md-input-container>
         <md-input-container flex='70'>
            <label>Show</label>
            <md-select ng-model="selectedShowOptions" ng-init="selectedShowOptions = selectedShowOptions || 'progress'">
               <md-option ng-repeat="option in TransportCtrl.showOptions" value="{{option.prop}}">
                  {{option.title}}
               </md-option>
            </md-select>
         </md-input-container>

         <md-input-container flex='40'>
            <label>Order By</label>
            <md-select ng-model="selectedOrderByOptions" ng-init="selectedOrderByOptions = selectedOrderByOptions || 'dateLoad'">
               <md-option ng-repeat="option in TransportCtrl.orderOptions" value="{{option.prop}}">
                  {{option.title}}
               </md-option>
            </md-select>
         </md-input-container>

         <md-input-container flex='20'>
            <md-checkbox ng-model="selectedReverse" aria-label="Checkbox 1">
               <i class="material-icons">swap_vert</i>
            </md-checkbox>
         </md-input-container>
      </div>
   </div>



   <md-list flex>
      <div layout="row" layout-align="start center">
         <md-progress-circular md-mode="indeterminate" ng-show="TransportCtrl.loading"></md-progress-circular>
      </div>
      <md-list-item class="noright" ng-repeat="transport in TransportCtrl.transports | typeShow:selectedShowOptions | filter:search | orderBy:selectedOrderByOptions:selectedReverse" ng-click="">
         <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
            <md-whiteframe class="md-whiteframe-5dp" flex="100" layout="column" layout-align="space-around stretch" layout-margin layout-padding>
                  <div layout-gt-xs="column" layout-align="space-between start">
                     <div>
                        <h3>{{transport.customer}} - {{transport.cost}}€</h3>
                        <p>From: <strong>{{transport.start}}</strong>, {{transport.placeLoad}} - <strong>{{transport.dateLoad | date : medium}}</strong></p>
                        <p>To: <strong>{{transport.destination}}</strong>, {{transport.placeUnload}} - <strong>{{transport.dateUnload | date : medium}}</strong></p>
                        <p>{{transport.weight}} quintals</p>
                     </div>
                     <div layout="row" layout-align="space-between start">
                        <md-button layout="row" ng-hide="{{transport.archived}}" class="md-raised md-primary" ng-click="TransportCtrl.setStatus(transport)">
                           <i  class="material-icons">archive</i>
                           &nbsp; Archive
                        </md-button>
                        <md-button layout="row" class="md-primary" ui-sref="transports.add({id: transport._id})">
                           <i class="material-icons">mode_edit</i>
                           &nbsp; Edit
                        </md-button>
                     </div>
                  </div>
            </md-whiteframe>
         </div>
      </md-list-item>
   </md-list>

</md-content>