
<md-toolbar layout="row" class="md-hue-3">
   <div class="md-toolbar-tools">
      <strong>List of Transports</strong>
   </div>
</md-toolbar>

<md-content layout-margin layout-padding>
   <md-input-container flex="25">
      <label>Show</label>
      <md-select ng-model="selectedShowOptions" ng-init="selectedShowOptions = selectedShowOptions || 'progress'">
         <md-option ng-repeat="option in transportCtrl.showOptions" value="{{option.prop}}">
            {{option.title}}
         </md-option>
      </md-select>
   </md-input-container>

   <md-input-container flex="25">
      <label>Order</label>
      <md-select ng-model="selectedOrderByOptions" ng-init="selectedOrderByOptions = selectedOrderByOptions || 'dateLoad'">
         <md-option ng-repeat="option in transportCtrl.orderOptions" value="{{option.prop}}">
            {{option.title}}
         </md-option>
      </md-select>
   </md-input-container>

   <md-input-container flex="10">
      <md-checkbox ng-model="selectedReverse" aria-label="Checkbox 1">
         Reverse
      </md-checkbox>
   </md-input-container>


   <md-list flex>
      <md-list-item ng-repeat="transport in transportCtrl.TransportSrv.get() | typeShow:selectedShowOptions | orderBy:selectedOrderByOptions:selectedReverse" ng-click="null">
         <div layout="column" layout="space-around start">
            <div><h3>{{transport.customer}}</h3></div>
            <div>From: <strong>{{transport.start}}</strong></div>
            <div>To: <strong>{{transport.destination}}</strong></div>
            <div>Load address: {{transport.placeLoad}}</div>
            <div>Unload address: {{transport.placeUnload}}</div>
            <div>Date Load: {{transport.dateLoad}}</div>
            <div>Date Unload: {{transport.dateUnload}}</div>
            <div>Weight (q): {{transport.weight}}</div>
            <div>Cost: {{transport.cost}}€</div>
            <div><md-button ng-hide="{{transport.archived}}" class="md-raised md-secondary" ng-click="transportCtrl.TransportSrv.archive(transport)">Archive</md-button></div>
         </div>
         <md-divider></md-divider>
      </md-list-item>
   </md-list>

</md-content>